.header__lang-item {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
    font-size: 24px;
    line-height: 23px;
}

.header__lang-item:last-child {
    margin-right: 0;
}

@media (max-width: 559px) {
    .header__lang-item {
        font-size: 18px;
        line-height: 17px;
    }
}