.video__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 18px;
    margin: 0 auto;
}

@media (min-width: 1025px) {
    .video__container {
        grid-column-gap: 18px;
    }
}

@media (min-width: 768px) {
    .video__container {
        grid-column-gap: 16px;
    }
}

@media (max-width: 559px) {
    .video__container {
        grid-template-columns: 1fr;
    }
}