.footer__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 767px) {
    .footer__links {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 32px;
    }
}