.place {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 4fr 6fr;
    align-items: end;
    grid-row-gap: 60px;
    grid-column-gap: 40px;
    padding-bottom: 100px;
    font-family: 'Inter', Arial, sans-serif;
}

@media (max-width: 1024px) {
    .place {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 40px;
        grid-column-gap: 28px;
        padding-bottom: 72px;
    }
}

@media (max-width: 559px) {
    .place {
        grid-template-columns: 1fr;
        grid-row-gap: 48px;
        grid-column-gap: 0;
    }
}